@layout("Hello Play Akka Angular WebSocket") {
<br>
<br>
<div class="container" ng-controller="AppCtrl">

    <form class="form-inline" ng-submit="send()">
        <i class="fa fa-quote-left fa-inverse quotes"></i>
        <input type="text" ng-model="text" placeholder="input message" class="message"></input>
        <i class="fa fa-quote-right fa-inverse quotes"></i>
    </form>

    <br>

    <table class="table table-striped">
        <tr ng-repeat="message in messages | filter:activeFilter">
            <td>{{message.userId}} => {{message.msg}}</td>
        </tr>
    </table>




    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
            <a ng-repeat="trend in trending" ng-click="toggleActive(trend)" class="list-group-item">
                <i class="fa fa-square" ng-if="!activeTopics[trend.name]"></i>
                <i class="fa fa-check-square" ng-if="activeTopics[trend.name]"></i>
                {{trend.name}}
                <span class="badge">{{trend.count}}</span>
            </a>
        </div>
    </div>

</div>
}
