@import "bootstrap/_bootstrap.less";


@clouds:#ECF0F1;
@concrete:#95A5A6;

@asphalt:#34495E;




@belize-hole:#2980B9;
@peter-river:#3498DB;



@text-main:@clouds;


@panel-background:@belize-hole;
@header-background:@peter-river;

@border-width:1px;
@border-color:@asphalt;

.panel-tweet {
    border-color:@asphalt !important;
}


.panel {
    background-color:@panel-background !important;
    color:@text-main !important;
}


.panel-heading {
    background-color:@header-background !important;
    border-color:@asphalt !important;
    color:@text-main !important;
}


#main-navbar {
    background-color:@header-background !important;
    border-color:@asphalt !important;
    color:@text-main !important;
}


.navbar-brand{
                 background-color:@header-background !important;
                 border-color:@asphalt !important;
                 color:@text-main !important;
}

.quotes {
    color:@concrete;
}


.form-control{
     width: 100% !important;
     horizontal-align: 0 auto !important;
}